extends layout

block content
    body.stilebody
        section(class="hero align-items-stretch")
            div(class="d-flex flex-column justify-content-center align-items-center" id="playerLives")
                h3(class="mt-5 mb-2") Vidas Disponibles: #{playerLives}
            div(class=" d-flex flex-column justify-content-center align-items-center")
                pre
                    |   _    _                                         
                    |  | |  | |                                        
                    |  | |__| | __ _ _ __   __ _ _ __ ___   __ _ _ __  
                    |  |  __  |/ _` | '_ \\ / _` | '_ ` _ \\ / _` | '_ \\
                    |  | |  | | (_| | | | | (_| | | | | | | (_| | | | |
                    |  |_|  |_|\\__,_|_| |_|\\__, |_| |_| |_|\\__,_|_| |_|
                    |                       __/ |                      
                    |                      |___/                       

            div(class="d-flex flex-column justify-content-center align-items-center")
                div(class="row align-items-center")
                    div(class="col"  id="newWord")
                        h1 #{hiddenWord}
                div(class="row align-items-center ")
                    div(class="col")
                        form( class="card card-body rounded-0 mt-5" style="Background-color: #0D462E" id="formData")
                            h1(class="h3 mb-3") Escribe una Letra
                            input(type="text" 
                            id="letter" 
                            name="letter" 
                            placeholder="Escribe una letra" 
                            class="form-control rounded-0 mb-3" 
                            autofocus autocomplete="off")

                            button(class="btn btn-success"
                            onclick='sendData(' + '"' + generatedWord + '"' + ',' + '"' + hiddenWord + '"' + ' ,' + '"' + playerLives + '"' + ')'
                            ) Enviar
                            
    //- script(src="/socket.io/socket.io.min.js")
    //- script( src="/javascripts/Uis.js") 
    //- script( src="/javascripts/Sockets.js") 
    script( src="/javascripts/GetDataFromView.js")    

